nav{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    margin: 5px 15px;
}
img{
    width: 120px;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
ul>li{
    list-style: none;
    margin: 5px 20px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    outline: none;
    border: none;
    background-color: salmon;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
}